body {
    background-color: #292929
}

.customBtn {
    padding: 12px
}

.text-pale {
    color: #bbbbbb;
    font-size: small;
}

.customCard {
    background-color: #c7c7c7;
}

.customEditIcon {
    color: black;
}

    .customEditIcon:hover {
        color: #019201;
        cursor: pointer
    }

.customBinIcon {
    color: black;
}

    .customBinIcon:hover {
        color: #a91b41;
        cursor: pointer
    }

.footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}

.customInput {
    padding: 0;
    margin:0;
    border: none;
    background-color: transparent;
}


.plain {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

/*.customLink {
    
}*/

.max-width-5 {
    max-width: 453px;
}

.max-width-03 {
    max-width: 30px;
}

.max-width-04 {
    max-width: 35px;
}
